.coverImg-container {
	width: 100%;
	height: 250px;
	position: relative;
}
.perfilImg-container {
	position: absolute;
	bottom: -100px;
	left: 5%;
	background-color: var(--backgroundColorPrimary);
	width: 200px;
	height: 200px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.perfilImg {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	overflow: hidden;
	transition: 0.1s ease-in;
}
.perfilImg:hover {
	cursor: pointer;
	transform: rotate(5deg);
}
.coverBtn-container {
	padding: 2rem;
}
.btn-follow {
	border: none;
	border-radius: 10px;
	padding: 0px 20px;
	background-color: var(--buttonPrimaryColor);
	color: var(--textColorPrimary);
	transition: 0.1s ease-in;
}
.btn-follow:hover {
	background-color: var(--buttonHoverColor);
	cursor: pointer;
	transform: scale(0.9);
}
.btn-dots-container {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: 8px;
	transition: 0.1s ease-in;
}
.btn-dots {
	border: 1px solid var(--textColorPrimary);
	background-color: transparent;
	color: var(--textColorPrimary);
	font-size: 8px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transition: 0.1s ease-in-out;
}
.btn-dots:hover {
	cursor: pointer;
	border: 2px solid var(--textColorPrimary);
	transform: scale(0.9);
}
.btn-dots-container:hover {
	background-color: var(--backgroundColorPrimaryHover);
}
.cover-Tittle {
	font-size: 2rem;
	font-weight: bold;
}

.cover-Desc-Container {
	margin-left: 5%;
}
.cover-Desc-name {
	font-size: 2rem;
	margin: 0;
}
.cover-Desc-desc {
	max-width: 850px;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
}
.cover-Features {
	/* border: 1px solid var(--colorBorderActive); */
	border: 1px solid var(--backgroundColorPrimaryHover);
	padding: 5px 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 15px;
	pointer-events: none;
	user-select: none;
}
.cover-socialMedia {
	margin-top: 1.1rem;
}
.cover-socialMedia-icon a {
	margin-right: 10px;
	margin-bottom: 5px;
	width: 2rem;
	height: 3rem;
}
.btn-icon-hover {
	transition: 0.2s ease-in-out;
}
.btn-icon-hover:hover {
	cursor: pointer;
	transform: scale(0.9);
}

/* -----------------Maximo (phone)--------------------- */
@media (max-width: 850px) {
	.coverImg-container {
		height: 150px;
	}
	.perfilImg-container {
		bottom: -50px;
		width: 100px;
		height: 100px;
	}
	.perfilImg {
		width: 90px;
		height: 90px;
	}
	.coverBtn-container {
		padding: 0.6rem;
	}
	.cover-Tittle {
		margin-top: 1rem;
		font-size: 1.1rem;
		font-weight: lighter;
	}
	.cover-Desc-name {
		font-size: 1.3rem;
	}
	.cover-Desc-desc {
		font-size: 14px;
	}
}
