.navBar-container {
	position: relative;
}
.navBar-container a {
	position: relative;
	margin-right: 30px;
	font-size: 1.3rem;
	color: var(--textColorPrimary);
	text-decoration: none;
	z-index: 1;
	cursor: pointer;
}

.navBar-container #marker2 {
	position: absolute;
	height: 4px;
	width: 100%;
	background-color: var(--backgroundColorPrimaryHover);
	bottom: -8px;
	transition: 0.5s;
	border-radius: 4px;
}
.navBar-container #marker {
	position: absolute;
	left: 0;
	height: 4px;
	width: 0;
	background-color: var(--colorBarActive);
	bottom: -8px;
	transition: 0.5s;
	border-radius: 4px;
}
